page-login {
  .background {
    background: url('../../assets/imgs/fondo.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  form {
    margin-bottom: 32px;
  }

  .register {
    color: color($colors, coffee);
    font-family: 'Neutra Display Drafting Alt', sans-serif;
    margin: 5px 0;
    display: block;
    text-decoration: underline color($colors, coffee);
    cursor: pointer;

    &.codigo {
      font-size: .65em;
      margin-top: 10px;
      display: block;
    }
  }

  .login {
    text-align: center;
    background: url('../../assets/imgs/fondo-login.png') no-repeat center center;
    background-size: cover;
    width: 700px;
    height: 503px;
    position: absolute; /*it can be fixed too*/
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    padding: 160px 80px 100px 120px;

    input {
      width: 100%;
      background-color: white;
      border: none;
      border-radius: 5px;
      padding: 10px;
      font-size: 1.2rem;
      margin: 5px;
      color: color($colors, coffee);
    }

    .text {
      color: color($colors, coffee);
      font-family: 'Neutra Display Drafting Alt', sans-serif;
      margin: 5px 0;
      display: block;
    }

    .error {
      font-size: 1rem;
      color: red;
      margin: 0 5px;
    }

    .ingresar {
      width: 130px;
      margin-top: 5px;
      margin-left: 15px;
      cursor: pointer;
    }

    .social-buttons {
      text-align: center;

      img {
        height: 35px;
        &:first-child {
          margin-right: 10px;
        }
        &:last-child {
          margin-left: 10px;
        }
      }
    }
  }
}
