page-user-register {
  .background {
    background: url('../../assets/imgs/fondo.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .registro {
    .providerForm {
      margin-top: 60px;
    }
    text-align: center;
    background: url('../../assets/imgs/registro-fondo.png') no-repeat center center;
    background-size: cover;
    width: 700px;
    max-width: 100%;
    height: 503px;
    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
    max-height:100%;
    overflow: hidden;
    padding: 160px 80px 100px 120px;
    input {
      width: 100%;
      background-color: white;
      border: none;
      border-radius: 5px;
      padding: 10px;
      font-size: 1.2rem;
      margin: 5px;
      color: color($colors, coffee);
    }
  }

  .tyc {
    font-family: "Neutra Display Drafting Alt", sans-serif;
    color: color($colors, coffee);
    text-decoration: underline;
    cursor: pointer;
    padding-top: 20px;
  }

  .error-message {
    font-size: .7em;
    font-family: 'Neutra Display Drafting Alt', sans-serif;
    color: red;
    margin: 0 5px;
  }
}
