<ion-content class="background">
  <div class="info-frame" (click)="openInfo()" *ngIf="showInfo">
    <img src="/assets/imgs/informacion.png" alt="Información">
    <a href="http://choromando.com/producto/libro-interactivo/" target="_blank" class="link"></a>
  </div>
  <div class="registro">
    <form [formGroup]="registerFormProv" class="providerForm" (submit)="registerFormProvAction()" novalidate
          *ngIf="providerID !== 'password'">
      <input type="text" placeholder="Nombre Completo" formControlName="displayName">
      <ion-row>
        <ion-col col-10 no-padding no-margin>
          <input type="text" placeholder="Código*" formControlName="code">
          <ng-container *ngFor="let validation of account_validation_messages.code">
            <div class="error-message"
                 *ngIf="registerFormPass.get('code').hasError(validation.type) && (registerFormPass.get('code').dirty || registerFormPass.get('code').touched)">
              {{validation.message}}
            </div>
          </ng-container>
        </ion-col>
        <ion-col col-2 no-padding no-margin>
          <ion-icon (click)="openInfo()" color="coffee" name="information-circle" class="info-btn"></ion-icon>
        </ion-col>
      </ion-row>
    </form>
    <form [formGroup]="registerFormPass" novalidate *ngIf="providerID === 'password'">
      <ion-grid>
        <ion-row>
          <ion-col>
            <input type="text" placeholder="Nombre Completo*" formControlName="displayName">
            <ng-container *ngFor="let validation of account_validation_messages.displayName">
              <div class="error-message"
                   *ngIf="registerFormPass.get('displayName').hasError(validation.type) && (registerFormPass.get('displayName').dirty || registerFormPass.get('displayName').touched)">
                {{validation.message}}
              </div>
            </ng-container>
          </ion-col>
        </ion-row>
        <ion-row no-padding>
          <ion-col>
            <input type="email" placeholder="Correo Electrónico*" formControlName="email">
            <ng-container *ngFor="let validation of account_validation_messages.email">
              <div class="error-message"
                   *ngIf="registerFormPass.get('email').hasError(validation.type) && (registerFormPass.get('email').dirty || registerFormPass.get('email').touched)">
                {{validation.message}}
              </div>
            </ng-container>
          </ion-col>
          <ion-col>
            <ion-row>
              <ion-col col-10 no-padding no-margin>
                <input type="text" placeholder="Código*" formControlName="code">
                <ng-container *ngFor="let validation of account_validation_messages.code">
                  <div class="error-message"
                       *ngIf="registerFormPass.get('code').hasError(validation.type) && (registerFormPass.get('code').dirty || registerFormPass.get('code').touched)">
                    {{validation.message}}
                  </div>
                </ng-container>
              </ion-col>
              <ion-col col-2 no-padding no-margin>
                <ion-icon (click)="openInfo()" color="coffee" name="information-circle" class="info-btn"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row formGroupName="matching_passwords">
          <ion-col>
            <input type="password" placeholder="Contraseña*" formControlName="password">
            <ng-container *ngFor="let validation of account_validation_messages.password">
              <div class="error-message"
                   *ngIf="registerFormPass.get('matching_passwords').get('password').hasError(validation.type) && (registerFormPass.get('matching_passwords').get('password').dirty || registerFormPass.get('matching_passwords').get('password').touched)">
                {{validation.message}}
              </div>
            </ng-container>
          </ion-col>
          <ion-col>
            <input type="password" placeholder="Confirmar Contraseña*" formControlName="confirm_password">
            <ng-container *ngFor="let validation of account_validation_messages.confirm_password">
              <div class="error-message"
                   *ngIf="(registerFormPass.get('matching_passwords').get('confirm_password').hasError(validation.type) || registerFormPass.get('matching_passwords').hasError(validation.type)) && (registerFormPass.get('matching_passwords').get('confirm_password').dirty || registerFormPass.get('matching_passwords').get('confirm_password').touched)">
                {{validation.message}}
              </div>
            </ng-container>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
    <ion-grid class="social-buttons">
      <ion-row>
        <ion-col class="tyc">
          <ion-checkbox color="dark" [(ngModel)]="tycBool"></ion-checkbox>
          <a
            target="_blank"
            href="https://firebasestorage.googleapis.com/v0/b/choromando-ba719.appspot.com/o/Politica%20de%20privacidad%20Choromando.pdf?alt=media&token=dfae9306-b335-43d4-8acf-fa8761d29e5d">
            Acepto los términos y condiciones</a>
        </ion-col>
        <ion-col *ngIf="providerID === 'password'">
          <img src="assets/imgs/ingresar.png" (click)="registerFormPassAction()"/>
        </ion-col>
        <ion-col *ngIf="providerID !== 'password'">
          <img class="ingresar" src="assets/imgs/ingresar.png" (click)="registerFormProvAction()"/>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
